page-login {
    #title{
        width: 140px;
        margin: 100px auto 10px auto;
        font-size: 3em;
        font-family: Sans-serif;
        color: rgb(102, 154, 163);
    }

    #password{
        width: 38%;
        height: 60px;
        margin: 20px auto;
        border: 1px solid #444;
        transition: 1s;
        padding: 0;
        padding-left: 0px;
    }

    #email{
        width: 38%; 
        height: 60px;
        margin: 20px auto;
        border: 1px solid #444;
        transition: 1s;
        padding-left: 0px;
    }

    #wachtwoord-vergeten{
        background-color: #fff;
        font-size: 0.8em;
        position: absolute;
        width: 50%;
        margin: auto 25%;
        display: block;
        font-family: Sans-serif;
        color: rgb(102, 154, 163);
    }

    #login-knop{
        transition: 1s;
        position: absolute;
        margin: 40px 31%;
        display: block;
        font-family: Sans-serif;
        background-color: rgb(102, 154, 163);
        width: 38%;
        height: 60px;
        border-radius: 10px; 
        color: #fff;
        font-size: 2em; 
    }

    input{
        width: 520px; 
        height: 70px; 
    }

    @media (max-width:50em){
        #email{
            width: 70%;
            transition: 1s;
        }

        #login-knop{
            width: 69%;
            transition: 1s;
            margin-left: 15%;
        }

        #password{
            width: 70%;
            transition: 1s;
        }
    }

}
