page-home {
    #nav {
        overflow: hidden;
        margin: 35px 60px;
        
    }
    
    #nav button {
        padding: 10px;
        font-size: 2em;
        
        margin: 10px;
        
    }

    #notSelected{
        color: rgb(153, 153, 153);
    }

    #selected{
        color: #279b8d;
    }
    
    

    #homepage{
        border: 2px solid #000;
        margin: -2.5px 12%;
        padding: 2%;
        padding-bottom: 200px;
    }
    
    #welkom{
        width: 170px;
        position: relative;
        height: 50px;
        margin-left: 12%;
        border: #000 solid 2px;
        font-size: 2.2em;
        color: #279b8d;
        font-style: italic;
        border-bottom: rgb(240, 239, 239) solid 2px;
    }

}
